html(lang="en")
    head
        title Welcome!
        meta(charset="utf-8")
        link(rel="stylesheet", href="../public/assets/css/main.css")
        link(rel="stylesheet", href="../public/assets/css/game.css")
        link(href="https://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300,200,100", rel='stylesheet', type='text/css')
        script(src='/public/scripts/game.js')
    body
        div(id='greeting')